<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- for responsivness in mobile view -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- custom css -->
  <link rel="stylesheet" href="../static/css/general.css">

  <!-- fav icon -->
  <link rel="icon" href="../static/images/logo.jpg" type="image/gif" sizes="16x16">

  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Blog</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <!-- logo image and title -->
    <a class="navbar-brand" href="../index.html">
      <img src="../static/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Tech Freaks
    </a>
    <!-- menu button for mobile view -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- unorder list start -->
      <ul class="navbar-nav mr-auto">
        <!-- listing type navbar item (Our Team) -->
        <li class="nav-item">
          <a class="nav-link" href="our_team.html">Our Team</a>
        </li>
        <!-- listing type navbar item (FAQ) -->
        <li class="nav-item">
          <a class="nav-link" href="faq.html">FAQ</a>
        </li>
        <!-- listing type navbar item (Blog) -->
        <li class="nav-item">
          <a class="nav-link active" href="blog.html">Blog</a>
        </li>
        <!-- listing type navbar item (Contact Us) -->
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact Us</a>
        </li>
        <!-- listing type navbar item (Calculate BMI) -->
        <li class="nav-item">
          <a class="nav-link" href="bmi.html">Calculate BMI</a>
        </li>
      </ul> <!-- ul end -->
    </div> <!-- navbar items end -->
  </nav> <!-- nav end -->

  <!-- light or dark theme selector -->
  <div id="theme_div">
    <div class="form-check form-check-inline">
      <label class="form-check-label" for="inlineRadio1">Select Theme:</label>
    </div>
    <!-- radio button for light theme -->
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1"><i class="far fa-sun"></i></label>
    </div>
    <!-- radio button for dark theme -->
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
        checked="checked">
      <label class="form-check-label" for="inlineRadio2"><i class="far fa-moon"></i></label>
    </div>
  </div>

  <!-- container fluid -->
  <div class=".container-fluid">
    <!-- container -->
    <div class="container">
      <!-- header -->
      <div class="py-5 text-center" id="header">
        <h2>Blog</h2>
        <p class="lead">Some of our costumers cannot keep their satisfaction about our services and they want to share
          it with you. Check out what they think about us.</p>
      </div> <!-- header end -->
      <!-- medi list (unorder list) -->
      <ul class="list-unstyled">
        <!-- 1st blog -->
        <li class="media">
          <!-- user image -->
          <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min1.jpg"
            alt="Generic placeholder image">
          <!-- user comments -->
          <div class="media-body">
            <h5 class="mt-0 mb-2 font-weight-bold">Anna Smith</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.
              Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <!-- 2nd blog -->
        <li class="media my-4">
          <!-- user image -->
          <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min2.jpg"
            alt="Generic placeholder image">
          <!-- user comments -->
          <div class="media-body">
            <h5 class="mt-0 mb-2 font-weight-bold">Tom Brown</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.
              Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <!-- 3rd blog -->
        <li class="media">
          <!-- user image -->
          <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min3.jpg"
            alt="Generic placeholder image">
          <!-- user comments -->
          <div class="media-body">
            <h5 class="mt-0 mb-2 font-weight-bold">Natalie Doe</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.
              Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <!-- 4th blog -->
        <li class="media my-4">
          <!-- user image -->
          <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min2.jpg"
            alt="Generic placeholder image">
          <!-- user comments -->
          <div class="media-body">
            <h5 class="mt-0 mb-2 font-weight-bold">Tom Brown</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.
              Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
      </ul> <!-- ul end -->
    </div> <!-- container end -->
  </div> <!-- container fluid end -->

  <!-- jQuery script -->
  <script>
    // getting the DOM ready
    $(document).ready(function () {
      // action when inlineRadio1 radio button is clicked (light theme)
      $("#inlineRadio1").click(function () {
        // set body background color white
        $("body").css({ "background-color": "white" });
        // set text color black
        $(".list-unstyled, .py-5, #theme_div").css({ "color": "black" });
      });
      // action when inlineRadio2 radio button is clicked (dark theme)
      $("#inlineRadio2").click(function () {
        // set body background color black
        $("body").css({ "background-color": "#444444" });
        // set text color white
        $(".list-unstyled, .py-5, #theme_div").css({ "color": "white" });

      });
    });
  </script> <!-- script end -->

  <!-- Bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>



<!-- Section: Testimonials v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Testimonials v.2</h2>

  <div class="wrapper-carousel-fix">
    <!-- Carousel Wrapper -->
    <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
      data-interval="false">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div>
            <!--Content-->
            <p>
              <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              eos
              id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore
              sit, aspernatur praesentium iste impedit quidem dolor veniam.
            </p>
            <h4 class="font-weight-bold">Anna Deynah</h4>
            <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
            <!--Review-->
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star-half-alt blue-text"> </i>
          </div>
        </div>
        <!--First slide-->
        <!--Second slide-->
        <div class="carousel-item">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
                alt="Second sample avatar image">
            </div>
            <!--Content-->
            <p>
              <i class="fas fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
              porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
              non numquam eius modi tempora incidunt ut labore. </p>
            <h4 class="font-weight-bold">Maria Kate</h4>
            <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
            <!--Review-->
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
          </div>
        </div>
        <!--Second slide-->
        <!--Third slide-->
        <div class="carousel-item">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
                alt="Third sample avatar image">
            </div>
            <!--Content-->
            <p>
              <i class="fas fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
              error sit voluptatem accusantium doloremque laudantium.</p>
            <h4 class="font-weight-bold">John Doe</h4>
            <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
            <!--Review-->
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="far fa-star blue-text"> </i>
          </div>
        </div>
        <!--Third slide-->
      </div>
      <!--Slides-->
      <!--Controls-->
      <!-- carousel previous button -->
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <!-- carousel next button -->
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--Controls-->
    </div>
    <!-- Carousel Wrapper -->
  </div>

</section>
<!-- Section: Testimonials v.2 -->