body{
    background-color: #444444;
    color: white;
}

#btn {
    background-color: #2069e0;
}

table {
    background-color: white;
}

#header {
    color: white;
}

#theme_div {
    width: 100%;
    padding: 15px;
    text-align: right;
}

ul {
    color: white;
}

.card-body {
    color: black;
}




